.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.tmproj
.vscode/
Thumbs.db
*.tgz
.helmignore
.github/
.gitlab-ci.yml
.travis.yml
.circleci/
README.md.gotmpl
tests/
ci/
examples/
charts/
requirements.lock
*.log
*.md.gotmpl
